@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.carousel-img{
    object-fit: cover;
    height: 100vh;
}
.crisis-paragraph{
    font-size: 5vh;
    font-weight: bolder;
}
.headline{
    font-weight: bolder;
}
.donate{
    background-color: #b43e35;
    padding:4% 10%;
    color: white;
    border-radius: 1%;
    font-size: 2vh;
    font-weight: bold;
}
.donate:hover{
    background-color: #b43e35;
    color:white;
}
.quake-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card2-title, .card1-title, .bold-amount{
    font-weight: bolder;
    font-size: 3vh;
}

